#title{
  background-color: #ff4c68;
  text-align: left;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{

  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: 900;
}


.nav-item{
  margin: auto 1rem;
}

.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 400;
}

body{
  font-family: "Montserrat";
  text-align: center;

}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 200;
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}

/* Features */
h3{
  font-family: "Montserrat";
  font-size: 1.35rem;
  font-weight: 900;

}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features-p{
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.features-column{
  padding: 5%;
}

/* Testimonial Section */

#testimonials{
  background-color:#ef8172;
  color: #fff;
}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

@media(max-width:1200px) {

  #title{
    text-align: center;
  }
  .iphone{
    position: static;
    transform: rotate(0);
  }

}

 /* Call to Action Section */
#cta{
  background-color: #ff4c68;
  padding: 2% 15%;
}

.h31{
  color: #fff;
  font-family: "Montserrat";
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  font-size: 3rem;
}

/* Footer Section */

#footer{

  padding: 3% 0 1%;
}

.social-media{
  margin: 20px 10px;
}

.twitter:hover{
  color: #00ACEE;
}
.facebook:hover{
  color: #3b5998;
}
.instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.gmail:hover{
  color: #feae96;
}

.links:link, .links:visited {
  color: black;
}
